* body {
    padding: 0;
    box-sizing: border-box;
    background-image: url(./imagenes/FONDO.jpg);
    background-size: 100%;
   
  }
  
  /*PORTADA*/

  
  @media (max-width: 730px) {
.portada{
  width: 100%;
}


  .cuenta-regresiva {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 1em;
    padding: 0.8em;
    margin-top: 10%;
}
.cr-time > span {
    font-size: 21px;
  
    color: #a48b70;
    
}
.cr-desc {
    color: #242424;
    font-family: "Alegreya", serif; 
    font-size: 13px;
    
}
.cr-block {
    background: #c9c9c92e;
    border-radius: 5px;
    padding: 0.1em 0.5em;
    background-size: 80%;
}

  


  .h5{
  font-size: 30px;
  text-align: center;
  font-family: 'Dancing Script', cursive;  

  
  }
  .audio{
    width: 35%;
    height: 20px;
    margin-left: 32%;
    background-color:  #ffffff;
    color: #646464bd;
    margin-top: -5%;
    
}
.fraseinicio{
  font-size: 25px;
  text-align: center;
 margin-top: 5%;
 
 font-family: 'Dancing Script', cursive; 
 
}
.tituloh1{
  color: #ffffff;
  font-family: "Playfair Display", serif;
  font-size: 19px;
  text-align: center;
 margin-top: 5%;
 background-color: #a48b70;
padding-top: 2%;
 }
.almanaque{
  width: 70%;
  margin-left: 15%;
  margin-top: -10%;
 
}
.flor{
  width: 33%;
  margin-left: 35%;
  margin-top: 10%;
}
.fondo{
  width: 100%;
}
.arrow span {
  margin-top: -8%;
  display: block;
  width: 14px;
  height: 14px;
  border-bottom: 5px solid rgb(234, 234, 234);
  border-right: 5px solid #C8BAA1;
  transform: rotate(45deg);
  margin-left: 48%;
  animation: animate28797 2s infinite;
  }
  
  .arrow span:nth-child(2) {
  animation-delay: -0.2s;
  }
  
  .arrow span:nth-child(3) {
  animation-delay: -0.4s;
  }
  
  @keyframes animate28797 {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
  }
  
  50% {
    opacity: 1;
  }
  
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
  }
  }


.linea4{
  margin-top: -5%;
  color: #dcdcdc;
}





.parrafo2{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #ffffff;
  margin-top: 14%;
  font-weight: 580;
   
}


.florblanca{
width: 35%;
margin-left: 70%;
margin-top: -17%;
}

.principal{
  width: 100%;
  margin-top: -1%;
}

.parrafo3{
  text-align: center;
  font-family: 'Dancing Script', cursive; 
  font-size: 24px;
  color: #414141;
 
  font-weight: 550;
}
.parrafo5{
  text-align: center;
 font-family: "Montserrat", sans-serif;
   font-size: 17px;
   color: #242424;
   margin-top: 2%;
   
}
.copas{
  width: 20%;
  margin-left: 42%;
  margin-top: -11%;
    display: block;
  margin: 0 auto; /* esto centra horizontalmente */
}
.almanaque{
  width: 90%;
  margin-left: 18%;
    display: block;
  margin: 0 auto; /* esto centra horizontalmente */
}
.sport{
  width: 36%;
  margin-left: 35%;
 }

.cajados{
  background-color: #a48b70;
  padding: 5 5 ;
  margin-top: 8%;
}





.parrafoD{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   font-size: 17px;
   color: #272727;
   font-weight: 500;
  
   
}
.primary1 {
  min-width: 120px;
  height: 40px;
  color: #fff;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #a48b70;
  margin-top: 5%;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  background-size: 55%;
}
.primary2 {
   min-width: 120px;
  height: 40px;
  color: #fff;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #a48b70;
  margin-top: 5%;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  background-size: 55%;
}

.primary3 {
  text-decoration: none;
  text-align: center;
  min-width: 130px;
  height: 40px;
  color: #202020;
  padding: 7px 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #ffffff;
  margin-top: 5%;
  font-family: 'Julius Sans One', sans-serif;
  background-size: 55%;
}

.btn-playlist{
  min-width: 120px;
  height: 40px;
  color: #fff;
  padding: 8px 7px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #a48b70;
  margin-top: 5%;
  text-decoration: none;
  font-family: 'Julius Sans One', sans-serif;
  background-size: 55%;
  font-size: 15px;
}

.boton4{
  text-align: center;
}
.boton3{
  text-align: center;
}
.boton2{
  text-align: center;
}
.boton1{
  text-align: center;
}


.parrafo6{
   text-align: center;
 font-family: "Montserrat", sans-serif;
   font-size: 15px;
   color: #242424;
   margin-top: 2%;
   
}
.parrafo7{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #ffffff;
  margin-top: 5%;
  text-align: center;
}

.parrafo8{
    font-family: "Poppins", sans-serif;
  font-size: 15px;
  color: #414141;
  margin-top: 5%;
  text-align: center;
}
.parrafo9{
  text-align: center;
 font-family: "Playfair Display", serif;
   font-size: 23px;
  color:  #242424;
   font-weight: 500;
   margin-top: 10%;
}





.percha{
  width: 15%;
  margin-left: 43%;
  margin-top: 6%;
}
.regalo{
  width: 12%;
  margin-left: 46%;
  margin-top: 10%;
}
.cbu{
  width: 110%;
  margin-left: -3%;
  
}
.fraseregalo{
 width: 46%;
  margin-left: 28%;
  margin-top: -17%;
}

.coral-1{
  width: 25%;
  margin-left: -50%;
  margin-top: -2%;
}

.andres{
  width: 25%;
  margin-left: -50%;
}
.chat{
  width:20%;
    margin-left: 40%;
    margin-top: -5%;
  }

.linea-1{
  width: 60%;
  color: #414141;
  margin-left: 20%;
}
  .chat2{
    width:20%;
      margin-left: 40%;
      margin-top: -5%;
    }
  .a{
    text-decoration: none;
  }

.final{
   width: 100%;
margin-top: 15%;
}














.tecla {
margin-top: -49%;
 margin-left: 50%;
}


.box__copyright {
  max-width: 1200px;
  padding: 18px 7px;
  text-align: center;
  
  background-color: #ffffff;
  font-size: 100%;
}


.box__copyright p {
  margin-top: -10px;
  color: #c3b1b1;
  font-size: 12px;
  text-align: center;
}

.box__copyright a {
  text-decoration: none;
  color: #c5bfa2;
}



 }
